extends layout

block variables
  - var title = "Home"

block content
  h2.text-center Access multiple systems using a single login credential

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to Phoenix!